[submodule "lib/ds4"]
	path = lib/ds4
	url = https://github.com/antirez/ds4
[submodule "lib/mlx-src"]
	path = lib/mlx-src
	url = https://github.com/ml-explore/mlx
[submodule "lib/mlxc-src"]
	path = lib/mlxc-src
	url = https://github.com/ml-explore/mlx-c
[submodule "lib/opencode2-mlx-serve"]
	path = lib/opencode2-mlx-serve
	url = https://github.com/beamivalice/opencode2-mlx-serve
[submodule "lib/sushi"]
	path = lib/sushi
	url = https://github.com/ddalcu/sushi
	branch = exl3-module
[submodule "lib/mlx-serve-gguf"]
	path = lib/mlx-serve-gguf
	url = https://github.com/ddalcu/mlx-serve-gguf
